.container {
  width: 100%;
  height: 100%;

  overflow-y: scroll;
}

.description {
  margin: 25px 33px 33px 33px;

  font-family: Cantarell;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;

  color: #000000;
}

.items {
  width: 100%;

  padding-left: 29px;
  padding-right: 29px;
}
