.header {
  width: 100%;

  margin-left: 16px;

  display: flex;

  align-items: center;
}

.header__back_btn {
  position: absolute;
}

.header__logo {
  display: flex;
  width: 100%;

  justify-content: center;
}
