.entrypoint {
  width: 100vw;
  height: 100vh;

  overflow-x: hidden;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
}

.entrypoint__bg {
  display: flex;
  flex-direction: column;

  width: 100%;
  flex: 1 auto;

  padding-top: 7px;
  box-sizing: border-box;

  background: radial-gradient(
    98% 50% at 49.87% 50%,
    #4b4b4b 44.14%,
    #1e1e1e 100%
  );
}

.entrypoint__bg__header {
  width: 100%;
}

.entrypoint__bg__main {
  display: flex;
  align-items: stretch;
  
  width: 100%;
  flex: 1;
}
