@media screen and (max-width: 1024px) {
  .loginBtn {
    width: 335px;
    height: 52px;

    border-radius: 6px;
    border: 0px;
  }

  .loginBtn__text {
    text-align: center;

    font-family: Cantarell;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;

    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #000000;
  }
}
