{% extends "base.html" %}
{% block content %}

<style>
  body {
      color: #404E67;
      background: #F5F7FA;
      font-family: 'Open Sans', sans-serif;
  }
  .table-wrapper {
      width: 1100px;
      margin: 30px auto;
      background: #fff;
      padding: 20px;
      box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }
  .table-title {
      padding-bottom: 10px;
      margin: 0 0 10px;
  }
  .table-title h2 {
      margin: 6px 0 0;
      font-size: 22px;
  }
  .table-title .add-new {
      float: right;
      height: 30px;
      font-weight: bold;
      font-size: 12px;
      text-shadow: none;
      min-width: 100px;
      border-radius: 50px;
      line-height: 13px;
  }
  .table-title .add-new i {
      margin-right: 4px;
  }
  table.table {
      table-layout: fixed;
  }
  table.table tr th, table.table tr td {
      border-color: #e9e9e9;
      width: 100px;
  }
  table.table th i {
      font-size: 13px;
      margin: 0 5px;
      cursor: pointer;
  }
  table.table th:last-child {
      width: 60px;
  }
  table.table td a {
      cursor: pointer;
      display: inline-block;
      margin: 0 5px;
      min-width: 24px;
  }
  table.table td a.add {
      color: #27C46B;
  }
  table.table td a.edit {
      color: #FFC107;
  }
  table.table td a.delete {
      color: #E34724;
  }
  table.table td i {
      font-size: 19px;
  }
  table.table td a.add i {
      font-size: 24px;
      margin-right: -1px;
      position: relative;
      top: 3px;
  }
  table.table .form-control {
      height: 32px;
      line-height: 32px;
      box-shadow: none;
      border-radius: 2px;
  }
  table.table .form-control.error {
      border-color: #f50000;
  }
  table.table td .add {
      display: none;
  }
  .modal.modal-wide .modal-dialog {
      width: 100%;
  }
  .modal-wide .modal-body {
      overflow-y: auto;
  }
</style>

{% include "tables_js.html" %}

<body>
<div class="container-fluid">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Jobs</h2></div>
                    <div class="col-sm-4">
                        <!-- Button to trigger modal -->
                        <button
                            type="button"
                            class="btn btn-info add-new"
                            data-toggle="modal"
                            data-target="#addNewModal"
                        ><i class="fa fa-plus"></i> Add New</button>
                        <!-- Modal -->
                        <div class="modal fade" id="addNewModal" style="width: 100%" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog modal-lg" style="width: 100%" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Add new job</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form method="POST" action="" class="needs-validation" novalidate>
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="row" style="display: grid; grid-template-columns: repeat(5, 18%); column-gap: 19px;">
                                                <div class="form-group mx-auto mb-2">
                                                    <label for="new-name">Name</label>
                                                    <input type="text" class="form-control" name="new-name" id="new-name" required>
                                                    </input>
                                                </div>
                                                <div class="form-group mx-auto mb-2">
                                                    <label for="new-owner">Owner</label>
                                                    <select name="new-owner" id="new-owner" class="selectpicker" data-width="90%" style="vertical-align: middle" required>
                                                        {% for owner in owners %}
                                                            <option>{{ owner.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="form-group mx-auto mb-2">
                                                    <label for="new-facility">Facility</label>
                                                    <select name="new-facility" id="new-facility" class="selectpicker" data-width="90%" style="vertical-align: middle" required>
                                                        {% for facility in facilities %}
                                                            <option owner-name="{{ facility.owner }}">{{ facility.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="form-group mx-auto mb-2">
                                                    <label for="new-start-date">Start date</label>
                                                    <input type="text" class="form-control" name="new-start-date" data-date-autoclose="true"
                                                        id="new-start-date" data-provide="datepicker" placeholder="Enter date" required>
                                                    </input>
                                                </div>
                                                <div class="form-group mx-auto mb-2">
                                                    <label for="new-end-date">End date</label>
                                                    <input type="text" class="form-control" name="new-end-date" data-date-autoclose="true"
                                                        id="new-end-date" data-provide="datepicker" placeholder="Enter date" required>
                                                    </input>
                                                </div>
                                                <span id="option-container" style="visibility: hidden; position:absolute;"></span>
                                                <script>
                                                    function filterFacility(){
                                                      var owner = $("#new-owner").find('option:selected').text(); // stores owner
                                                      $("#option-container").children().appendTo("#new-facility"); // moves <option> contained in #option-container back to their <select>
                                                      var toMove = $("#new-facility").children("[owner-name!='"+owner+"']"); // selects facility elements to move out
                                                      toMove.appendTo("#option-container"); // moves facility elements in #option-container
                                                      $("#new-facility").removeAttr("disabled"); // enables select
                                                };
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-info">Save changes</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Owner</th>
                        <th>Facility</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in jobs %}
                    <div class="row">
                    <tr>
                        <td width="20%" class="datarow">{{job.name}}</td>
                        {% if job.facility is none %}
                            {% set owner_name, facility_name = "", "" %}
                        {% else %}
                            {% set owner_name, facility_name = job.facility.owner.name, job.facility.name %}
                        {% endif %}
                        <td width="20%" class="datarow">{{ owner_name }}</td>
                        <td width="20%" class="datarow">{{ facility_name }}</td>
                        <td width="20%" class="datarow">{{ job.start_date }}</td>
                        <td width="20%" class="datarow">{{ job.end_date }}</td>
                        <td colspan="5" class="formrow" style="display:none">
                        <form method="POST" action="" class="needs-validation" novalidate>
                            <input type="hidden" name="job_id" value="{{ job.job_id }}">
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row" style="display: grid; grid-template-columns: repeat(5, 18%); column-gap: 19px;">
                                        <div class="form-group mx-auto mb-2">
                                            <input type="text" class="form-control" name="name"
                                                id="new-name" value="{{ job.name }}"
                                                placeholder="Name" required {{ job.name }} >
                                            </input>
                                        </div>
                                        <div class="form-group mx-auto mb-2">
                                            <select title="{{ owner_name }}" name="owner" class="selectpicker" data-width="fit" style="vertical-align: middle" required>
                                                {% for owner in owners %}
                                                    {% if owner.name == owner_name %}
                                                    <option selected>{{ owner.name }}</option>
                                                    {% else %}
                                                    <option>{{ owner.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group mx-auto mb-2">
                                            <select title="{{ facility_name }}" name="facility" class="selectpicker" data-width="fit" style="vertical-align: middle" required>
                                                {% for facility in facilities %}
                                                    {% if facility.name == facility_name %}
                                                    <option selected>{{ facility.name }}</option>
                                                    {% else %}
                                                    <option>{{ facility.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group mx-auto mb-2">
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="start_date" data-date-autoclose="true" data-provide="datepicker"
                                                    id="new-start-date" value="{{ job.start_date }}" placeholder="Facility" required {{ job.start_date }} >
                                                </input>
                                            </div>
                                        </div>
                                        <div class="form-group mx-auto mb-2">
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="end_date" data-date-autoclose="true" data-provide="datepicker"
                                                    id="new-end-date" value="{{ job.end_date }}" placeholder="Facility" required {{ job.end_date }} >
                                                </input>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-sm formrowreset">Close</button>
                                <button type="submit" class="btn btn-info btn-sm">Save changes</button>
                            </div>
                        </form>
                    </td>
                        <td>
                        <form method="POST" action="">
                            <a class="add"
                                title="Add"
                                data-toggle="tooltip">
                            <i class="material-icons">&#xE03B;</i></a>
                            <a class="edit"
                                title="Edit"
                                data-toggle="tooltip"
                            ><i class="material-icons">&#xE254;</i></a>
                            <a class="delete"
                                title="Delete"
                                data-toggle="tooltip"
                                href="/jobs/{{ job.job_id }}/delete"
                            ><i class="material-icons">&#xE872;</i></a>
                        </form>
                        </td>
                    </tr>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
{% endblock %}