{% extends "base.html" %}
{% block content %}

<style>
  body {
      color: #404E67;
      background: #F5F7FA;
      font-family: 'Open Sans', sans-serif;
  }
  .table-wrapper {
      width: 1100px;
      margin: 30px auto;
      background: #fff;
      padding: 20px;
      box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }
  .table-title {
      padding-bottom: 10px;
      margin: 0 0 10px;
  }
  .table-title h2 {
      margin: 6px 0 0;
      font-size: 22px;
  }
  .table-title .add-new {
      float: right;
      height: 30px;
      font-weight: bold;
      font-size: 12px;
      text-shadow: none;
      min-width: 100px;
      border-radius: 50px;
      line-height: 13px;
  }
  .table-title .add-new i {
      margin-right: 4px;
  }
  table.table {
      table-layout: fixed;
  }
  table.table tr th, table.table tr td {
      border-color: #e9e9e9;
      width: 100px;
  }
  table.table th i {
      font-size: 13px;
      margin: 0 5px;
      cursor: pointer;
  }
  table.table th:last-child {
      width: 60px;
  }
  table.table td a {
      cursor: pointer;
      display: inline-block;
      margin: 0 5px;
      min-width: 24px;
  }
  table.table td a.add {
      color: #27C46B;
  }
  table.table td a.edit {
      color: #FFC107;
  }
  table.table td a.delete {
      color: #E34724;
  }
  table.table td i {
      font-size: 19px;
  }
  table.table td a.add i {
      font-size: 24px;
      margin-right: -1px;
      position: relative;
      top: 3px;
  }
  table.table .form-control {
      height: 32px;
      line-height: 32px;
      box-shadow: none;
      border-radius: 2px;
  }
  table.table .form-control.error {
      border-color: #f50000;
  }
  table.table td .add {
      display: none;
  }
  .modal.modal-wide .modal-dialog {
      width: 100%;
  }
  .modal-wide .modal-body {
      overflow-y: auto;
  }
</style>

{% include "tables_js.html" %}

<body>
<div class="container-fluid">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Owners</h2></div>
                    <div class="col-sm-4">
                        <!-- Button to trigger modal -->
                        <button
                            type="button"
                            class="btn btn-info add-new"
                            data-toggle="modal"
                            data-target="#addNewModal"
                        ><i class="fa fa-plus"></i> Add New</button>
                        <!-- Modal -->
                        <div class="modal fade" id="addNewModal" style="width: 100%" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog modal-lg" style="width: 100%" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Add new job</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form method="POST" action="" class="needs-validation" novalidate>
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="row" style="display: grid; grid-template-columns: repeat(4, 24%); column-gap: 10px;">
                                                <div class="form-group mx-auto mb-2">
                                                    <label for="new-name">Name</label>
                                                    <input type="text" class="form-control" name="new-name" id="new-name" required>
                                                    </input>
                                                </div>
                                                <div class="form-group mx-auto mb-2">
                                                    <label for="new-owner-type">Owner Type</label>
                                                    <input type="text" class="form-control" name="new-owner-type" id="new-owner-type" required>
                                                    </input>
                                                </div>
                                                <div class="form-group mx-auto mb-2">
                                                    <label for="new-industry">Industry</label>
                                                    <input type="text" class="form-control" name="new-industry" id="new-industry" required>
                                                    </input>
                                                </div>
                                                <div class="form-group mx-auto mb-2">
                                                    <label for="new-hq-address">HQ Address</label>
                                                    <input type="text" class="form-control" name="new-hq-address" id="new-hq-address" required>
                                                    </input>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-info">Save changes</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Owner Type</th>
                        <th>Industry</th>
                        <th>HQ Address</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for owner in owners %}
                    <div class="row">
                    <tr>
                        <td class="datarow">{{owner.name}}</td>
                        <td class="datarow">{{owner.owner_type}}</td>
                        <td class="datarow">{{owner.industry}}</td>
                        <td class="datarow">{{owner.hq_address}}</td>
                        <td colspan="4" class="formrow" style="display:none">
                        <form method="POST" action="" class="needs-validation" novalidate>
                            <input type="hidden" name="owner_id" value="{{ owner.owner_id }}">
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="form-group mx-auto mb-2">
                                            <input type="text" class="form-control" name="name"
                                                id="new-name" value="{{ owner.name }}"
                                                placeholder="Name" required {{ owner.name }} >
                                            </input>
                                        </div>
                                        <div class="form-group mx-auto mb-2">
                                            <input type="text" class="form-control" name="owner_type"
                                                id="new-owner-type" value="{{ owner.owner_type }}"
                                                placeholder="Owner Type" required {{ owner.owner_type }} >
                                            </input>
                                        </div>
                                        <div class="form-group mx-auto mb-2">
                                            <input type="text" class="form-control" name="industry"
                                                id="new-industry" value="{{ owner.industry }}"
                                                placeholder="Industry" required {{ owner.industry }} >
                                            </input>
                                        </div>
                                        <div class="form-group mx-auto mb-2">
                                            <input type="text" class="form-control" name="hq_address"
                                                id="new-hq-address" value="{{ owner.hq_address }}"
                                                placeholder="HQ Address" required {{ owner.hq_address }} >
                                            </input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-sm formrowreset">Close</button>
                                <button type="submit" class="btn btn-info btn-sm">Save changes</button>
                            </div>
                        </form>
                    </td>
                        <td>
                        <form method="POST" action="">
                            <a class="add"
                                title="Add"
                                data-toggle="tooltip">
                            <i class="material-icons">&#xE03B;</i></a>
                            <a class="edit"
                                title="Edit"
                                data-toggle="tooltip"
                            ><i class="material-icons">&#xE254;</i></a>
                            <a class="delete"
                                title="Delete"
                                data-toggle="tooltip"
                                href="/owners/{{ owner.owner_id }}/delete"
                            ><i class="material-icons">&#xE872;</i></a>
                        </form>
                        </td>
                    </tr>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
{% endblock %}