{% extends "base.html" %}
{% block content %}

<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Short name</th>
            <th scope="col">Url</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            <div class="row">
                <tr>
                    <div class="col-2">
                        <td>{{parent_org.name}}</td>
                    </div>
                    <div class="col-2">
                        <td>{{parent_org.short_name}}</td>
                    </div>
                    <div class="col-2">
                        <td>{{parent_org.url}}</td>
                    </div>
                </tr>
            </div>
        </tbody>
    </table>
    <form class="form-inline" method="POST">
        <div class="form-group mb-2">
            <input type="text" class="form-control" name="new-name"
                id="new-name" placeholder="New name"{{ request.form['new-name'] }}>
            </input>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control" name="new-short-name"
                id="new-short-name" placeholder="New short name"{{ request.form['new-short-name'] }}>
            </input>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control" name="new-url"
                id="new-url" placeholder="New Url"{{ request.form['new-url'] }}>
            </input>
        </div>
        <button type="submit" class="btn btn-success btn-sm mb-2">Submit</button>
    </form>
</div>
{% endblock %}