.login {
  width: 100vw;
  height: 100vh;

  overflow-x: hidden;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  background-color: #f1f1f1;
}

.login__form {
  width: 100%;

  display: flex;
  flex-direction: column;

  align-items: center;

  padding-top: 55px;
}

.login_form__input {
  padding-bottom: 16px;
}

.header {
  width: 100%;

  padding-top: 7px;

  background: radial-gradient(
    55.61% 85.51% at 49.87% 78.12%,
    #464545 0%,
    #1a1919 100%
  );
}

.description {
  height: 46px;

  display: flex;
  align-items: center;
  text-align: center;

  background: #b6b6b6;

  color: #000000;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.1em;

  text-transform: capitalize;

  padding-left: 19px;
}

.breakline {
  margin-top: 16px;
  margin-bottom: 20px;
}
