.logo,
.logo__grey_star {
  width: 205px;
  height: 205px;

  box-sizing: border-box;
}

.logo::after {
  box-sizing: inherit;

  width: 142px;
  height: 142px;

  display: block;
  position: relative;
  top: -154px;
  left: 82px;

  content: '';

  background: transparent url('./images/red_star.svg') no-repeat;
}

@media only screen and (max-width: 360px) {
  .logo,
  .logo__grey_star {
    width: 170px;
    height: 170px;
  }
}
