.container {
  height: 46px;
  width: 100%;

  display: flex;
  align-items: center;

  box-sizing: border-box;

  padding-left: 20px;
  background: #6d6d6d;
}

.description {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;

  letter-spacing: 0.1em;

  color: #f4f4f4;
}
