.login_btn {
  width: 315px;
  height: 52px;

  background: #b6b6b6;
  border: 2px solid #e3e3e3;
  border-radius: 6px;
}

.login_btn:focus {
  outline: none;
}

.login_btn__text {
  font-family: Cantarell;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;

  letter-spacing: 0.05em;
  text-transform: capitalize;

  color: #000000;
}
